body {
    background-color: #fafafa;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4a4a4f;
}

.red-o {
    color: #e84610;
}

.thin {
    font-weight: 300;
}